apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-pipeline
spec:
  replicas: 1
  selector:
    matchLabels:
      app: devops-pipeline
  template:
    metadata:
      labels:
        app: devops-pipeline
    spec:
      containers:
      - name: flask-webapp
        image: flask-webapp1:latest
        imagePullPolicy: Never  # Use local image, don't pull from registry
        ports:
        - containerPort: 5000
